version: '3'
services:
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && rails db:create db:migrate && bundle exec whenever --update-crontab && bundle exec rails s -p 3000 -b '0.0.0.0'"
    # env_file:
    # - .env
    environment:
      REDIS_URL: "redis://redis:6379"
    volumes:
      - .:/myapp
    ports:
      - "3000:3000"
    depends_on:
      - db

  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example

  worker:
    build: .
    command: bundle exec karafka server
    environment:
      REDIS_URL: "redis://redis:6379"
    volumes:
      - .:/myapp
    depends_on:
      - db

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  redis:
    image: "redis:alpine"
  
  elastic:
    image: "elasticsearch:7.4.2"
    environment:
      - discovery.type=single-node"
    ports:
      - 9200:9200
      - 9300:9300